@use '../../../styles/_shared' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
  padding-block: rem(20px);
  width: 100%;
  background: var(--color-background-dark);
  border: rem(1px) solid var(--border-tertiary);
  border-radius: rem(12px);

  @include media(">tablet") {
    width: rem(378px);
    flex-shrink: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
}

.titleRow {
  padding-inline: rem(24px);
}

.title {
  margin: 0;
  color: var(--color-text-light);
  @include bc-manage-booking-title;
}

.divider {
  height: 0;
  border: none;
  border-top: rem(1px) dotted var(--color-border-card-light);
}

.actionList {
  list-style: none;
  margin: 0;
  padding: 0 rem(24px);
  display: flex;
  flex-direction: column;
  gap: rem(24px);
}

.actionItem {
  display: flex;
}

.actionLink {
  @include bc-action-link;
  color: var(--color-text-accent);
  text-decoration: underline;
  text-underline-offset: rem(2px);

  &:hover {
    opacity: 0.8;
  }
}
