@use "../../styles/_shared" as *;

.pageContainer {
  display: flex;
  flex-direction: column;
  padding: rem(20px) rem(20px) rem(24px);
  
  @include media(">tablet") {
    padding: rem(45px) rem(64px) rem(33px);
  }
}

.bookingRow {
  display: none;
  flex-direction: column;
  gap: rem(17px);

  @include media(">tablet") {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.mwebSection {
  display: flex;
  flex-direction: column;
  gap: rem(14px);

  @include media(">tablet") {
    display: none;
  }
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: rem(16px);

  @include media(">tablet") {
    flex: 1;
    min-width: 0;
  }
}

.rightSection {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
}

.mwebCabBanner {
  margin-top: rem(2px);
}

.mwebPaymentDetails {
  margin-top: rem(2px);
}

.mwebBookingDetails {
  margin-top: rem(16px);
}

.mwebCancellationPolicy {
  margin-top: rem(16px);
}

.mwebSearchFlightBanner {
  margin-top: rem(16px);
}

.mwebImportantInfo {
  margin-top: rem(16px);
}

.mwebSightseeingExplore {
  margin-top: rem(16px);
}

.mwebPriceBreakup {
  margin-top: rem(16px);
}

.mwebSpecialOffers {
  margin-top: rem(16px);
}

.mwebGstDetails {
  margin-top: rem(16px);
}

.mwebDealCard {
  margin-top: rem(16px);
}

.mwebMoreOptions {
  margin-top: rem(16px);
}

.mwebSightseeingCard {
  margin-top: rem(16px);
}
