// =============================================================================
// PRIVATE PRIMITIVE COLORS
// =============================================================================

// Primitive Colors

$color-gold: #A97D0E;
$color-black: #0D0D0D;
$color-light-gray: #EFEFEF;
$color-blue: #000099;
$color-green: #7FD287;
$color-navy: #25304B;
$color-sky-blue: #AFE4FF;
$color-slate: #7A859F;
$color-charcoal: #1D1D1D;
$color-white: #FFFFFF;
$color-slate-blue: #7A85A0;
$color-cool-gray: #9BA4B8;
$color-midnight-blue: #252B4B;
$color-chip-blue-bg: #EAF8FF;
$color-chip-cyan: #00AEE5;
$color-card-divider-light: #E2EBF2;
