@font-face {
  font-family: 'BauhausStd-Medium';
  src: url('./../../public/fonts/BauhausStd/BauhausStd-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./../../public/fonts/Poppins/Poppins-SemiBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./../../public/fonts/Poppins/Poppins-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('./../../public/fonts/Poppins/Poppins-Medium.ttf')
    format('truetype');
}
