// Global styles that generate CSS output
@use './theme';  // CSS custom properties
@use './fonts';  // @font-face declarations


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background-dark);
  max-width: 1440px;
  margin-inline: auto;

}
