@use '../../../styles/_shared' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(18px);
}

.title {
  color: var(--color-text-light);
  @include mweb-ii-title;
}

.card {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
  padding: rem(20px) rem(24px);
  border: rem(1px) solid rgba(122, 133, 160, 1);
  border-radius: rem(12px);
  box-shadow: 0 rem(2px) rem(40px) rgba(0, 0, 0, 0.07);
}

.list {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  padding-left: rem(20px);
  color: var(--color-text-light);
  @include mweb-ii-body;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
}

.divider {
  height: rem(1px);
  background-color: rgba(37, 48, 75, 1);
  width: 100%;
}

.linkRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 rem(16px);
}

.readMoreLink {
  color: rgba(169, 125, 14, 1);
  text-decoration: underline;
  cursor: pointer;
  @include mweb-ii-link;
}
