@use '../../../styles/_shared' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: rem(4px);
  padding: rem(24px) rem(20px);
  background: linear-gradient(to bottom, #252F4B, #0D0D0D);
  border: rem(1px) solid #252F4B;
  border-radius: rem(12px);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quickLabel {
  @include mb-section-label;
  color: var(--color-text-light);
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.description {
  margin: 0;
  @include mb-login-description;
  color: var(--color-text-light);
}

.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(4px);
  width: 100%;
  height: rem(40px);
  padding: 0 rem(28px);
  background: transparent;
  border: rem(2px) solid #A97D0E;
  border-radius: rem(8px);
  cursor: pointer;
  box-sizing: border-box;
}

.loginLabel {
  @include mb-cta-label;
  color: var(--color-text-light);
}
